p, div, h1, h2, h3, h4, h5, ul, li, body, label{
    padding: 0;
    margin: 0;
}

:root {
    --yellow: #feb60a;
    --red: #ff0062;
    --blue: #00dbf9;
    --violet: #da00f7;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c2852;
    }
#preloader{
    position: absolute;
    z-index: 2;
}
div.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader-container > div {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
    animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
    background-color: var(--yellow);
}

.red {
    background-color: var(--red);
    animation-delay: 0.1s;
}

.blue {
    background-color: var(--blue);
    animation-delay: 0.2s;
}

.violet {
    background-color: var(--violet);
    animation-delay: 0.3s;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: scale(1);
        filter: blur(0px);
    }
    25% {
        transform: scale(0.6);
        filter: blur(3px);
    }
    75% {
        filter: blur(3px);
        transform: scale(1.4);
    }
}

.wrapper {
    width: 100%;
    height: 100%;
}
.wrapper__container{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    height: auto;
    margin: 0 auto;
    background-color: bisque;
}

.item{
    position: relative;
    border: 1px solid #000;
    padding: 20px;
    margin: 5px 0 ;
}
.item:hover .item__btn{
    opacity: 1;
}

.item__btn{
    transition: opacity 0.2s linear;
    position: absolute;
    right: 0;
    font-weight: 900;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
#btnDel {
    cursor: pointer;
    top: 5px;
    right: 5px;
}

.addPost {
    transition: background-color 0.3s linear;
    background-color: #861f1f;
    color: #000;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
}
.addPost:hover {
    background-color: #bc0707;
}

.form {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    padding: 60px;
    background-color: darkgrey;
}

.area {
    width: 200px;
    height: 100px;
}

.form__btn {
    background-color: #861f1f;
}
